
@import './bootstrap/functions';
@import './bootstrap/variables';

.block{
    padding: 4rem 0;
}

#video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;;
    background-color: $purple;
    display: none;

    video{
        max-width: 80%;
        margin: 0 auto;
        min-width: 50%;
    }

    #exit_video{
        position: absolute;
        top: 2rem;
        right: 2rem;
        background: transparent;
    }
}

#navigation_side{
    position: fixed;
    top: 0;
    left: -100vw;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba($purple, 0.99);
    visibility: hidden;
    opacity: 0;
    transition: $transition-base;

    &.opened{
        left: 0 !important;
        opacity: 1 !important;
        visibility: visible !important;
    }

    .border-bottom{
        border-color: rgba($light, 0.3) !important;
    }
    .border{
        border-color: rgba($light, 0.3) !important;
    }
    .subs{
        .x{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;;
            line-height: 30px;
        }
    }

    ul{
        li{
            a{
                border: 1px solid rgba($light, 0.3);
                transition: $transition-base;
                display: block;
                text-decoration: none !important;
                padding-left: 15px !important;;

                &:hover{
                    border-color: $light;
                }
            }
        }
    }
}

header{
    background-image: url(../images/header.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

    .subs{
        .x{
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;;
            line-height: 30px;
        }
    }

    .border{
        border-color: rgba($light, 0.3) !important;
        transition: $transition-base;
        color: $white;

        &::placeholder{
            color: $light;
        }
        
        &:hover{
            border-color: $light !important;
        }
    }

    .nav_items{
        border-color: rgba($light, 0.3) !important;
        a{
            color: rgba($light, 0.9) !important;
            text-decoration: none !important;
            transition: $transition-base;
            &:hover{
                color: $white;
            }
        }
    }

    .swiper-container{
        .swiper-wrapper{
            .swiper-slide{
            }
        }

        .swiper-pagination{
            .swiper-pagination-bullet{
                background-color: rgba($white, 0.7);

                &-active{
                    background-color: $white;;
                }
            }
        }
    }

    .socials{
        .fa{
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid rgba($light, 0.3);
            background: transparent;
            border-radius: 50%;
            margin: 3px;
            color: $white;
            transition: $transition-base;
            cursor: pointer;
            &:hover{
                background-color: $white;;
                color: $black;
            }
        }
    }
}

.videos{
    .v-item{
        position: relative;
        .cover{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color:rgba($purple, 0.3);
            transition: $transition-base;

            .play{
                width: 80px;
                height: 80px;
                background-color: rgba($purple, 0.3);
                cursor: pointer;
                border: 2px solid $white;
                border-radius: 50%;
                text-align: center;
                line-height: 80px;
                transition: $transition-base;

                span{
                    font-size: 25px;
                }


                &:hover{
                    transform: scale(1.2);
                }

            }

            &:hover{
                background-color: rgba($purple, 0.1);
            }
        }
    }
}

.pops{
    .item{
        border-radius: 20px;
        color: $light;
        .image{
            img{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
        .info{
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .title{
            position: relative;

            .price{
                position: absolute;
                top: 0;
                right: -2rem;;
                bottom: auto;
                margin: auto;
                left: auto;

                @media only screen and (max-width: $sm){
                    position: initial;
                    background-color: rgba($danger, 0.9) !important;
                    float: right;
                    padding: 5px;
                    margin: 10px !important;
                }
            }
        }
    }
}

.people{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(../images/people.png);
    background-attachment: fixed;

    .t{
        border-color: rgba($light, 0.3) !important;
        color: rgba($light, 0.9);
        border-radius: 20px;
        background-color: rgba($purple, 0.3);
    }
}

.pre-footer{
    .mayblog{
        .image{
            position: relative;

            .cover{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba($purple, 0.3);
                transition: $transition-base;

                &:hover{
                    background-color: rgba($purple, 0);
                }
            }
        }
    }

    .testos{
        .avatar{
            img{
                border-radius: 50%;
                border: 2px solid $purple;

                @media only screen and (max-width: $md){
                    border-radius: 0;
                }
            }
        }
        .info{
            >div{
                background-color: #8455e1;
                border-radius: 20px;
            }
        }
    }
}

footer{
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url(../images/footer.png);
    background-size: cover;
    >.block{
        background-color: rgba($purple, 0.9);
    }
}