.block {
  padding: 4rem 0; }

#video {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: #652ad9;
  display: none; }
  #video video {
    max-width: 80%;
    margin: 0 auto;
    min-width: 50%; }
  #video #exit_video {
    position: absolute;
    top: 2rem;
    right: 2rem;
    background: transparent; }

#navigation_side {
  position: fixed;
  top: 0;
  left: -100vw;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(101, 42, 217, 0.99);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out; }
  #navigation_side.opened {
    left: 0 !important;
    opacity: 1 !important;
    visibility: visible !important; }
  #navigation_side .border-bottom {
    border-color: rgba(248, 249, 250, 0.3) !important; }
  #navigation_side .border {
    border-color: rgba(248, 249, 250, 0.3) !important; }
  #navigation_side .subs .x {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
  #navigation_side ul li a {
    border: 1px solid rgba(248, 249, 250, 0.3);
    transition: all 0.2s ease-in-out;
    display: block;
    text-decoration: none !important;
    padding-left: 15px !important; }
    #navigation_side ul li a:hover {
      border-color: #f8f9fa; }

header {
  background-image: url(../images/header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover; }
  header .subs .x {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; }
  header .border {
    border-color: rgba(248, 249, 250, 0.3) !important;
    transition: all 0.2s ease-in-out;
    color: #fff; }
    header .border::placeholder {
      color: #f8f9fa; }
    header .border:hover {
      border-color: #f8f9fa !important; }
  header .nav_items {
    border-color: rgba(248, 249, 250, 0.3) !important; }
    header .nav_items a {
      color: rgba(248, 249, 250, 0.9) !important;
      text-decoration: none !important;
      transition: all 0.2s ease-in-out; }
      header .nav_items a:hover {
        color: #fff; }
  header .swiper-container .swiper-pagination .swiper-pagination-bullet {
    background-color: rgba(255, 255, 255, 0.7); }
    header .swiper-container .swiper-pagination .swiper-pagination-bullet-active {
      background-color: #fff; }
  header .socials .fa {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(248, 249, 250, 0.3);
    background: transparent;
    border-radius: 50%;
    margin: 3px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer; }
    header .socials .fa:hover {
      background-color: #fff;
      color: #000; }

.videos .v-item {
  position: relative; }
  .videos .v-item .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(101, 42, 217, 0.3);
    transition: all 0.2s ease-in-out; }
    .videos .v-item .cover .play {
      width: 80px;
      height: 80px;
      background-color: rgba(101, 42, 217, 0.3);
      cursor: pointer;
      border: 2px solid #fff;
      border-radius: 50%;
      text-align: center;
      line-height: 80px;
      transition: all 0.2s ease-in-out; }
      .videos .v-item .cover .play span {
        font-size: 25px; }
      .videos .v-item .cover .play:hover {
        transform: scale(1.2); }
    .videos .v-item .cover:hover {
      background-color: rgba(101, 42, 217, 0.1); }

.pops .item {
  border-radius: 20px;
  color: #f8f9fa; }
  .pops .item .image img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px; }
  .pops .item .info {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px; }
  .pops .item .title {
    position: relative; }
    .pops .item .title .price {
      position: absolute;
      top: 0;
      right: -2rem;
      bottom: auto;
      margin: auto;
      left: auto; }
      @media only screen and (max-width: 576px) {
        .pops .item .title .price {
          position: initial;
          background-color: rgba(237, 30, 121, 0.9) !important;
          float: right;
          padding: 5px;
          margin: 10px !important; } }

.people {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url(../images/people.png);
  background-attachment: fixed; }
  .people .t {
    border-color: rgba(248, 249, 250, 0.3) !important;
    color: rgba(248, 249, 250, 0.9);
    border-radius: 20px;
    background-color: rgba(101, 42, 217, 0.3); }

.pre-footer .mayblog .image {
  position: relative; }
  .pre-footer .mayblog .image .cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(101, 42, 217, 0.3);
    transition: all 0.2s ease-in-out; }
    .pre-footer .mayblog .image .cover:hover {
      background-color: rgba(101, 42, 217, 0); }
.pre-footer .testos .avatar img {
  border-radius: 50%;
  border: 2px solid #652ad9; }
  @media only screen and (max-width: 768px) {
    .pre-footer .testos .avatar img {
      border-radius: 0; } }
.pre-footer .testos .info > div {
  background-color: #8455e1;
  border-radius: 20px; }

footer {
  background-repeat: no-repeat;
  background-position: bottom;
  background-image: url(../images/footer.png);
  background-size: cover; }
  footer > .block {
    background-color: rgba(101, 42, 217, 0.9); }

/*# sourceMappingURL=style.css.map */
