
@import './bootstrap/functions';
@import './bootstrap/variables';


header{
    background-image: url(https://i.imgur.com/kJK4s66.png);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}
body{
    font-family: Roboto, sans-serif;
}


@media only screen and (min-width: $lg){
    .upp{
        margin-top: -20px !important;
    }
}

.form-container{
    border-top: 3px solid $danger;
    box-shadow: 0 0 13px 3px rgba($dark, 0.1);
}

form.one{
    button{
        border-bottom: 2px solid darken($info, 40%);
    }
}

section{
    border-bottom: 1px solid rgba($dark, 0.3);
    &:last-child{
        border: 0;
    }
}

.question{
    border-radius: 50%;
    width: 70px;
    height: 70px;
    line-height: 70px;
}
.a{
    background-color: rgba($muted, 0.1);
    border-radius: 4px;
}

.pre-footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(https://btcprofitnow.com/images/bitcoin_bg.jpg);
}

#naver{
    position: fixed;
    top: -100vh;
    transition: 1s;;
    left: 0;
    right: 0;;
    z-index: 100;

    &.scrolled{
        top: 0 !important;
    }
}

.vax{
    font-size: 22px;
    @media only screen and (max-width: $lg){
        font-size: 16px;
    }
}

#pop{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
    background-color: rgba($black, 0.8);
    min-height: 100vh;
    transition: 1s;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .block{
        position: relative;
        background-image: url(https://btcprofitnow.com/images/bitcoin_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        #closeIt{
            position: absolute;
            top: 2rem;
            right: 1rem;
        }
    }
}

.display-4{
    @media only screen and(max-width: $lg){
        font-size: 22px;
    }
}

.hero{
    background-repeat: no-repeat;
    background-image: url(https://btcprofitnow.com/images/bitcoin_bg.jpg);

    background-size: cover;
    background-position: center center;
}

#loader{
    @extend #pop;
    background-color: rgba($white, 0.9);

    .block{
        border: 3px solid $info;
        background-image: none;;
    }
    
    opacity: 1;
    z-index: 1000;

    .loader_{
        border: 16px solid #f3f3f3;
        margin: 10px auto;
        border-radius: 50%;
        border-top: 16px solid $danger;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    }
}