
@import './bootstrap/functions';
@import './bootstrap/variables';

.lie{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

*:focus{
    outline: none !important;
    box-shadow: none !important;
}

footer{
    padding: 10rem 0;
    .title_{
        .line{
            border-bottom: 8px solid rgba($light, 0.3);
            margin-top: 0.5rem;
            width: 50%;
        }
    }
}
